@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

#home-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0c0ce94d;
}



#home-container {
    border-radius: 20px;
    padding: 0;
    width: 50%;
    min-height: 380px;
    max-width: 700px;
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

#home-header {
    left: 30px;
    top: 30px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    position: relative;

}

#home-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

#home-buttons {
    display: flex;
    flex-direction: column;
}

#home-continue-buttons button {
    width: 40%;
    margin: 15px 0px;
    position: relative;
    border: none;
    background-color: #6c63ff;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#home-continue-buttons button:hover {
    background-color: #6b63fff1;
}

#home-continue-buttons a button {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 1330px) {
    #home-container {
        width: 80%;
    }
}